<div id="push_down" style="padding-top:100px">
  <!-- this is ghetto -->
</div>

<div class="container">
  <h1>Available Study Groups</h1>

  <div class="container-fluid">

      <div class="row-fluid">
          <% @study_groups.each do |g| %>
              <div class="span12">
                  <h2><%= g.name %></h2>
                  <p><%= simple_format g.description.html_safe %></p>
                  <p>
                     <%= link_to "View details &raquo;".html_safe, study_group_path(g), {:class => 'btn'} %>
                  </p>
              </div> <!-- .span12 -->
        <% end %>
    </div> <!-- .row-fluid -->
  </div> <!-- container-fluid -->
