    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><b>COLLECT<span><</span>DIV<span>></span></b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if !session[:user_id] %>
              <li><%= link_to "Sign Up", signup_path %></li>
            <% else %>
              <% user = User.find(session[:user_id]) %>
              <li><%= link_to "Hi there, #{user.email}, check out the available study groups", study_groups_path %></li>
              <li><%= link_to "Logout", {:controller => 'sessions', :action => 'destroy'} %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
