<div id="push-down" style="padding-top:100px"></div>

<div class="container">

  <h2>You signed up!</h2>
  <p>Hey congrats.  You commited to the class.  Check your email for details. If you're learning rails, maybe you can switch this page with a better one.</p>
</div>
